version: 1.0.{build}

branches:
  only:
    - master
    - dev
    - debug

skip_tags: true

image: WMF 5

# Install pester module and init the Appveyor support.
install:
  - cinst pester
  - ps: Import-Module .\tools\AppVeyor.psm1

environment:
  NuGetToken:
    secure: 835qfZIkC9mE7QhkYfOZVAdR8rZhPvxG8BO4CbeaelRQOhlqmaSr8G1DWRJzZ/bS

build: false

build_script:
  - ps: Invoke-AppveyorBuild

test_script:
  - ps: Invoke-AppVeyorTests

deploy:
  - provider: GitHub
    auth_token:
      secure: M+bBX5/nKdJB0eViP7xtrLVTwf3vGDUA9N2MMprZp2i+9ZR3CBVcJnSzJWUmalhB
    artifact: myapp.zip           # upload all NuGet packages to release assets
    draft: false
    prerelease: false
    on:
      branch: master                # release from master branch only

  - provider: GitHub
    auth_token:
      secure: M+bBX5/nKdJB0eViP7xtrLVTwf3vGDUA9N2MMprZp2i+9ZR3CBVcJnSzJWUmalhB
    artifact: myapp.zip           # upload all NuGet packages to release assets
    draft: true
    prerelease: true
    on:
      branch: dev                # release from master branch only

  - provider: NuGet
    server: https://www.powershellgallery.com/api/v2/package/
    api_key:
      secure: M+bBX5/nKdJB0eViP7xtrLVTwf3vGDUA9N2MMprZp2i+9ZR3CBVcJnSzJWUmalhB
    skip_symbols: true
    symbol_server: https://www.powershellgallery.com/api/v2/
    artifact: myapp.zip


after_deploy:
  - ps: Invoke-AppVeyorPSGallery